* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(typing_bg.jpg);
    background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background: #00abdd;
  opacity: 0.95;
  font-size: 1.1em;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  width: 90%;
  max-width: 600px;
}

h1 {
  color: #ff3281;
    margin-bottom: 30px;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-decoration: underline;
}

#passage {
  background: #c4dbe2;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  text-align: left;
  min-height: 120px;
}

#inputArea {
  width: 100%;
  height: 120px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  background: #ff3281;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background: #005fa3;
}

.stats p {
  margin: 8px 0;
  font-weight: bold;
}

.score-card p {
  font-size: 18px;
  margin: 8px 0;
}

.buttons {
  margin-top: 20px;
}
.buttons button {
  margin: 0 10px;
}
#difficultyText {
  font-weight: bold;
  color: #ff3281;
}